<h1>Posts endpoint</h1>
<p>Here should be displayed the users selected post</p>
<main>
  <section>
    <%= link_to "Back", user_posts_path , :class => "link-pages" %>
    <div>
      <div class="user-posts-post">
        <% if can? :destroy, @post %>
          <%= button_to "Delete this Post", user_post_path(@user, @post), method: :delete, data: { turbo_confirm: "Are you sure to delete" } %>
        <% end %>
        <h3><%= @post.title %> by: <%= @post.user.name%></h3>
        <p><%= @post.text %></p>
        <span>Comments: <%= @post.CommentsCounter %></span>
        <span>Likes: <%= @post.LikesCounter %></span>
        <%= render "likes/button" %>
      </div>
      <div class="user-posts-post-comments">
        <% @post.comments.includes(:user).each do |comment| %>
          <div class="single-user-single-post-single-comment">
            <p><strong><%= comment.user.name %>: <%= comment.text %></strong></p>
          </div>
          <%if can? :destroy , comment%>
            <%= link_to "Delete Comment" ,  user_post_comment_path(@user, @post, comment), data: { turbo_method: "delete", turbo_confirm: "Are you sure to delete" } ,class: "no-underline red-color margin"%>
          <%end%>
        <% end %>
      </div>
      <%= render "comments/form" %>
    </div>
  </section>
</main>
